# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Flask
instance/
.flaskenv

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Docker
*.tar

# Build outputs C
*.o
*.obj
*.exe
*.out

# Ada build artifacts
*.ali
*.o

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Coverage
.coverage
htmlcov/

# Python test cache
.pytest_cache/

# Environment variables
.env

# Docker volumes (si llegan a crear carpetas locales)
volumes/

# Archivos generados por Compose
docker-compose.override.yml

# Markdown (notas, consigna, log de decisiones — no se versionan)
*.md